<ion-menu [content]="content" (ionOpen)="loadData()" (ionDrag)="loadData()" (ionClose)="loadData()" >
  <ion-header>
    <ion-toolbar>
      <ion-title>NavUP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-grid>
      <ion-row class="user">
          <ion-col col-12><img src="{{ avatar}}" class="user_avatar"/></ion-col>
          <span class="user_name">{{ name }}</span>
        </ion-row>
    </ion-grid>

    <ion-list>
      <button menuClose ion-item *ngIf="!isLoggedIn" (click)="login()">
        <ion-icon name="log-in"></ion-icon> Login
      </button>

      <button menuClose ion-item *ngIf="isLoggedIn" (click)="events()">
        <ion-icon name="calendar"></ion-icon> Events
      </button>

      <button menuClose ion-item *ngIf="isLoggedIn" (click)="slocations()">
        <ion-icon name="pin"></ion-icon>
        Points Of Interest
      </button>

      <button menuClose ion-item (click)="settings()">
        <ion-icon name="settings"></ion-icon> Settings
      </button>

      <button menuClose *ngIf="isLoggedIn" menuClose ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Logout
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
