<ion-header id="page">
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" (ionCancel)="dismiss($event)" [showCancelButton]="true" ></ion-searchbar>

    <ion-card *ngIf="items.length != 0">
      <ion-list>
        <ion-item ion-item (click)="dismiss(item)" *ngFor="let item of items">
            <ion-avatar item-left>
                <ion-icon name="pin"></ion-icon>
            </ion-avatar>
            <h2> {{item.name}} </h2>
            <p>{{item.distance}} meters</p>
        </ion-item>
      </ion-list>
    </ion-card>

    <!--<strong *ngIf="items.length == 0">No locations found ¯\\_(ツ)_/¯</strong>-->

    <div *ngIf="filters.length != 0" class="container">
      <ion-card id="filterList">
        <button name="filterButton" (click)="selectFilter($event, filter)" ion-button *ngFor="let filter of filters">
          <ion-icon name="{{filter.icon}}" item-left></ion-icon>
        </button>
      </ion-card>
    </div>

  </ion-navbar>
</ion-header>
